# Lectures directory
lectures/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/

# .env
.env

# PyCharm Configs
.idea/

# Resourcs
resources/

# Homework 03
homework/homework-03/frames
homework/homework-03/pacific-ocean-temperature.mp4

# MITgcm
MITgcm/

# eccoseas
project/notebooks/eccoseas/