# Lectures directory
lectures/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/

# .env
.env

# PyCharm Configs
.idea/

# Resourcs
resources/

# Homework 03
homework/homework_3/frames
homework/homework_3/pacific_ocean_temperature.mp4
